body {
    background-color: #a5c7cb;
    color: black;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 24%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Noto Sans JP', sans-serif !important;
}

header h1 {
    font-size: 28px;
    padding: 50px;
    font-family: 'Noto Sans JP', sans-serif !important;
}
header {
    background-color: #123B7A;
    color: white;
    text-align: center;
}


nav {
    background-color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 760px;
    padding: 20px;
    margin: 30px auto;
}

.container article {
    background-color: wheat;
    padding: 20px;
}

footer {
    background-color: blue;
    color: azure;
}